/*please input any global css code here*/

/*global setting*/
body {
	background-color: #ffffff;
}

a {
	cursor: pointer;
}

.btn-primary {
	background-color: #3464d9;
	border-color: #3464d9;
}

.btn-primary:hover {
	background-color: #49a3dd;
	border-color: #49a3dd;
}
/*external fonts*/
@font-face
{
	font-family: diyfont;
	src: url('../fonts/icomoon.woff'),
		 url('../fonts/icomoon.svg'),
		 url('../fonts/icomoon.ttf'),
	     url('../fonts/icomoon.eot'); 
 	font-style: normal;
 	font-weight: normal;
}

.diyfont {
	font-family: "diyfont" !important;
}

/*top-nav bar style*/
.navbar {
	margin-bottom: 0;
  	background-color: #3484e9;
}

.navbar .navbar-brand {
	color: #ccc;
	border-color: #3484e9; 
}

.navbar .navbar-nav > li > a {
    color: #fff; 
}

.navbar .navbar-nav > li > a:hover {
  	background-color: #59afff; 
  	opacity: 0.8;
}

.navbar .navbar-nav .nav-icon {
    font-size: 18px; 
}

.navbar .navbar-nav > li.active > a {
    background-color: #59afff; 
    opacity: 0.8;
}

.navbar .navbar-nav > li.active > a:focus, 
.navbar .navbar-nav > li.active > a:hover {
  	background-color: #59afff; 
  	opacity: 0.8;
}

.navbar .navbar-form .input-sm {
  	margin-top: 2px; 
}

.navbar .navbar-form input[type="search"] {
  	background-color: #59afff;
}

.navbar .navbar-form input[type="search"]::placeholder {
    color: #fff; 
}

.navbar .navbar-form input[type="search"]:focus, 
.navbar .navbar-form input[type="search"]:active {
    background-color: #fff; 
}

.navbar .navbar-toggle.active, 
.navbar .navbar-toggle:focus,
.navbar .navbar-toggle:hover {
  	background-color: #59afff; 
}

/* login part */

#login-stage {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.3);
	z-index: 1130;
}

#login {
	max-width: 450px;
	margin: 150px auto;
	border-radius: 10px;
	box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),
				0 40px 77px 0 rgba(0,0,0,.22);
	padding: 40px;
	background-color: rgba(255,255,255,1);
	z-index: 1230;
}

#login h3 {
	font-size: 28px;
	padding-bottom: 20px;
	text-align: center;
}
